@{
    ViewData["Title"] = "My Products";
}

<div class="text-center">
    <h1 class="display-4">Product management</h1>
    <p>
        See the details of the different products purchased from us: batteries, columns and elevators.
    </p>
    <p>
        You can also modify your personal information, such as addresses or contact details.
    </p>
</div>
